@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
#menu-2 .mbr-navbar__items a {
  font-size: 16px;
}
#header4-f P {
  color: #ffffff;
}
#social-buttons1-5 .mbr-header__text {
  color: #f7da64;
}

#menu-7 .mbr-brand__name {
  font-size: 16px;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
#menu-7 .mbr-navbar__items a {
  font-size: 16px;
}

#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
#menu-9 .mbr-navbar__items a {
  font-size: 16px;
}

#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
#menu-b .mbr-navbar__items a {
  font-size: 16px;
}

#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
#menu-d .mbr-navbar__items a {
  font-size: 16px;
}
