<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

Error:{{ error }} {% endif %}</p>
<form action = "" method = post style="text-align: center; color = red">
<p><font style="color: white"><strong> Username : </strong></font><input type = text name = username placeholder = "Username" size="29"></p>
<p><font style="color: white"><strong> Password : </strong></font><input type = password name = password placeholder = "Password" size="29"></p></font>
<p><div class="mbr-section-btn"> <input type = submit value = "Sign in"></p>
</div>
</body>
</html>{% if error %}
