<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2 style="color: white">REGISTRATION FORM</h2>
                    <p class="mbr-section-lead lead">
                     
                    <form action = "registform" id="reg" method = post>
<p align="left"><font style="color: white"><b>User ID:</b> </font><br><input id =field3 name="field3" type = "text" ng-model="c" placeholder = "User ID" size="65"></p>
<p align="left"><font style="color: white"><b>Refreal ID:</b>  </font><br><input id =field5 name="field5" type = "text" ng-model="e" placeholder = "For friends to connect" size="65"></p>
<p align="left"><font style="color: white"><b>Name:</b></font><br><input id =field1 name="field1" type = "text" ng-model="a" placeholder = "Full Name" size="65"></p>
<p align="left"><font style="color: white"><b>Email ID:</b> </font><br><input id =field2 name="field2" type = "text" ng-model="b" placeholder = "Email ID here" size="65"></p>
<p align="left"><font style="color: white"><b>Phone no:</b>  </font><br><input id =field5 name="field5" type = "text" ng-model="e" placeholder = "Phone no with country code" size="65"></p>
<p align="left"><font style="color: white"><b>User ID:</b> </font><br><input id =field3 name="field3" type = "text" ng-model="c" placeholder = "User ID" size="65"></p>
<p align="left"><font style="color: white"><b>Password:</b> </font><br><input id =field4 name="field4" type = "password" ng-model="d" placeholder = "Password " size="65"></p>



<input class="mbr-section-btn" type="submit" />
</p></form>

</body>
</html>
